<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1079343451891-a1jmlvhatcgs41a48l0n3hvs5nuqs1kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079343451891-a1jmlvhatcgs41a48l0n3hvs5nuqs1kc</string>
	<key>API_KEY</key>
	<string>AIzaSyDRDgjraJ-fLSOb1GYqAeneZ_sXg9W6h8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1079343451891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.f6sny.f6sny</string>
	<key>PROJECT_ID</key>
	<string>f6sny-f130d</string>
	<key>STORAGE_BUCKET</key>
	<string>f6sny-f130d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079343451891:ios:4f492c6f84653e9c</string>
	<key>DATABASE_URL</key>
	<string>https://f6sny-f130d.firebaseio.com</string>
</dict>
</plist>