$font-path: "../assets/fonts";
$app-direction: "rtl";
@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
$toast-max-width:  60%;
$background-color: #fffee8;
$toolbar-background: #E9AD0E;
$toolbar-text-color: #ffffff;
$headings-line-height: 1.8;
$line-height-base: 1.8 !default;
$link-color: #333;
$font-size-base: 1.8rem;

// Named Color Variables
// --------------------------------------------------
$colors: (
	primary:    #488aff,
	secondary:  #32db64,
	danger:     #f53d3d,
	light:      #f4f4f4,
	dark:       #333,
	f6snyPrimary :(
		base: #ffc106,
		contrast: #ffffff),
	f6snySecondary:  #ffd938,
	success: (
		base: #52c800,
		contrast: #ffffff),
	twitter: 	#55acee,
	facebook: 	#3b5998,
	tumblr: 	#35465c,
	instagram: 	#3f729b
);

// App iOS Variables
// --------------------------------------------------
$text-input-ios-margin-top : 3px;

// App Material Design Variables
// --------------------------------------------------
$text-input-md-margin-top : 3px;

// App Windows Variables
// --------------------------------------------------
$text-input-wp-margin-top : 3px;

// App Theme
// --------------------------------------------------
@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
@import "ionic.ionicons";

// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
